[2014-12-29 23:54] SunyataZero opened #1 "jQuery slider for donations"
http://jqueryui.com/slider/

[2014-12-29 23:58] SunyataZero opened #2 "https for website"
Create our own? Advantage of buying? How can we avoid the "trust" screen?

Useful wordpress plugin?:
https://wordpress.org/plugins/wordpress-https/installation/

[2014-12-30 00:01] SunyataZero opened #3 "Saving donation records"
After conversation with Peijman 2015-01-03, this is what we'd like to store for each call:
* time of call
* skype name
* email
* number of minutes of call
* recommended amount for call
* how much the user paid

[2014-12-30 00:04] SunyataZero opened #4 "Code review for php"

[2014-12-30 00:09] SunyataZero opened #5 "Code review for js"

[2014-12-30 00:26] SunyataZero opened #6 "Choosing WP Theme"
* Important that it works well with mobile phones
* Also important that the theme is dev friendly if we need to interact with it programmatically

*Please give examples* of good designs by referencing webpages and pointing to what features we like

Alternatives found so far:

* Twentyfifteen
* Responsive

[2014-12-30 00:40] SunyataZero opened #7 "Registration and login"
How do we design this part?

-----------
Old notes:

Require login before use of skype button

For first time user: Enter email after clicking on skype call status “A valid email is required to engage in skype”. Verify that email is valid. Send email to db.

[2014-12-30 00:45] SunyataZero opened #8 "Listing external risks and bugs"
These are things that we do not have direct control over like in 3rd party software and the hosting. For the bugs in our own code ("our part of the software") please file a bug report in this issue tracker. For risks in our own software _______________________ (maybe write in a separate document (or wiki page) or create new label here)

[2014-12-30 00:52] SunyataZero opened #9 "Hosting setup"
* [ ] transfering domain name
  * [takes 5-10 days](http://blog.arvixe.com/how-do-i-transfer-a-domain-name/)
  * [info](https://support.arvixe.com/index.php?/Knowledgebase/Article/View/71/1/transferring-a-domain-to-arvixe)
* [ ] setting up automated backups
* https, see: #2
* [ ] creating subpages for testing test_username
  * [ ] removing search engine indexing for these

Alternatives:
* arvixe,

[2014-12-30 00:59] SunyataZero opened #10 "Usability testing?"

[2014-12-30 01:00] SunyataZero opened #11 "Beta testing?"

[2014-12-30 01:01] SunyataZero opened #12 "Developing a test strategy and writing test cases"
* writing the req spec
* [x] writing a wiki document about test strategy [link](https://github.com/EmpathyApp/EmpathyApp/blob/4a9890b32f061d33861c90387e596d8a98d387f4/docs/planning/test-strategy.md)
* [x] writing the template for the testing protocol
  * [x] writing the names of the tests
* [x] writing the tests themselves
  * awareness of what is possible to automate
  * db as a special area?
  *

[2014-12-30 01:20] SunyataZero opened #13 "Document tech setup"
Hosting environment
Dev environment
Dev tools
Etc

(Maybe in multiple files)

[2014-12-30 14:16] #1 closed, assigned to SunyataZero

[2014-12-30 14:24] SunyataZero opened #14 "Graphical response when donation amount changes"
Examples:
* donations to kiva
![kiva_1](https://cloud.githubusercontent.com/assets/10245688/5579254/edc04c3e-9037-11e4-8663-f9fa99bcccdb.png)
![kiva_2](https://cloud.githubusercontent.com/assets/10245688/5579255/edc13612-9037-11e4-9434-a5e1f0f3dcce.png)
![kiva_3](https://cloud.githubusercontent.com/assets/10245688/5579256/ede7efc8-9037-11e4-8790-49d4efa54d8c.png)

[2014-12-30 15:29] SunyataZero opened #15 "Licensing of dependencies"
1. Documenting [in wiki](https://github.com/EmpathyApp/EmpathyApp/wiki/External-software) (license column)
2. Including attribution text (for example in source code)
- [ ] Our source code
- [ ] libraries / dependendies
- more?

[2014-12-30 18:54] SunyataZero opened #16 "Integration between custom stripe button and server"
Different from the simple stripe button
https://stripe.com/docs/checkout#integration-custom

[2014-12-30 20:20] SunyataZero opened #17 "jQuery slider sometimes unresponsive"
Description:
At mousedown the jQuery slider (on the donations page) sometimes does not respond. Both for clicking on the square and when clicking on another part of the slider

Example: http://kuanyin.ihavearrived.org/donation_form/

Frequency:
3/10

Setup:
* Firefox 34.0
* Lubuntu 14
* jQuery UI 1.11.2

[2014-12-30 20:39] SunyataZero opened #18 "Security review (PCI compliance etc)"
Example implementations here:
https://stripe.com/docs/examples
(not selected specifically for security, but may still be useful)

PCI compliance:
https://www.pcisecuritystandards.org/

[2015-01-01 05:22] SunyataZero opened #19 "Linking construction and problem solving checklists/templates together"

[2015-01-01 15:28] SunyataZero commented on #14
- [ ] a task list item
- [ ] list syntax required
- [ ] normal **formatting**, @mentions, #1234 refs
- [ ] incomplete
- [x] completed

[2015-01-01 17:05] #19 closed

[2015-01-01 18:21] SunyataZero opened #20 "Investigate alternatives to skype"

[2015-01-01 18:23] SunyataZero commented on #20
* [ ] wait for messages, then send email:
"Hi all, my name is Tord and i'm helping the people at
We are now using
and are looking for a replacement
-> presence information *on web page*, connection with web server, SIMPLE?
http://en.wikipedia.org/wiki/SIMPLE_%28instant_messaging_protocol%29

[2015-01-01 18:29] SunyataZero opened #21 "Hide private stripe key in open source code"
What are our options? Storing in db and using db password to write from phpMyAdmin?
(Storing in file is not recommended by the book "building web apps for wordpress", instead they prefer storing in db)

[2015-01-01 18:41] SunyataZero opened #22 "Setting up a web dev env for js and php"
features i'm looking for
* [ ] github integration
* [ ] php debugging
* [ ] js debugging
* [ ] console

alternatives:
* aptana (may need to change browser because aptana ff plugin does not work with firebug)

[2015-01-01 21:24] SunyataZero opened #23 "Tord's todo list"
2015-01-01
[ ] Setting up more ads for more people
[ ] Can i manage several people?

[2015-01-01 21:25] #23 closed

[2015-01-01 21:25] SunyataZero commented on #23
asdf

[2015-01-02 01:11] #22 closed

[2015-01-02 01:12] SunyataZero commented on #23
Moved to Tord's personal todo

[2015-01-02 11:25] SunyataZero opened #24 "SEO"
http://www.awwwards.com/seo-tricks-for-one-page-websites.html

cpanel section on seo

[2015-01-02 14:07] SunyataZero opened #25 "Getting more people involved"
[1] [2] [3]
Super article
volonteermatch.org {email sent to Peijman}
twitter {email sent to Peijman}
google plus {email sent to Peijman}
voip-info
stackoverflow sidebar [1]
github {created org. account [1]}
Idealist.org {waiting for approval for org}
Gudrun Tiberg
peace movement
kristin neff

[2015-01-02 14:42] SunyataZero commented on #25
[SO article](http://programmers.stackexchange.com/questions/126423/how-where-would-i-best-advertise-my-open-source-project-in-order-to-maximize-my)

[2015-01-02 19:38] SunyataZero commented on #18
from stripe support: "there is no need to provide attribution with any of our example code for our documentation but these are pretty basic and you might want to improve them to properly handle errors for example."

[2015-01-02 22:34] SunyataZero commented on #15
No problem with code from jQuery or stripe websites (attribution not even needed)
SO code can only be used for inspiration

[2015-01-03 00:19] SunyataZero opened #26 "Unit testing"

[2015-01-03 00:24] SunyataZero opened #27 "Investigating unit testing for php"
* [x] find best solution
* [x] document

[2015-01-03 21:47] SunyataZero opened #28 "Verify caller skype name at registration"
http://stackoverflow.com/questions/8951625/skype-username-validation

[2015-01-03 21:50] SunyataZero opened #29 "Simplify the registration process with auto-login"
[Example](http://www.talkspace.com/therapy-new/kristen)

[2015-01-03 22:44] #5 closed

[2015-01-03 22:51] #7 closed

[2015-01-03 23:05] #8 closed

[2015-01-03 23:16] SunyataZero commented on #28
skype ms accounts cannot be verified? (see comment in the so article)

[2015-01-04 02:38] SunyataZero opened #30 "skype not working or cannot be verified for ms accounts?"

[2015-01-04 23:21] SunyataZero commented on #25
Social networks:
http://www.awwwards.com/10-social-networks-for-developers.html

[2015-01-05 01:10] SunyataZero opened #31 "Investigating selenium"

[2015-01-05 17:19] #16 closed

[2015-01-05 17:54] #4 closed

[2015-01-05 18:44] #30 closed

[2015-01-05 19:12] SunyataZero opened #32 "Preliminary testing of skype and neat skype status"
Testing this out in more detail than previously since we rely on it so much

[2015-01-05 21:03] Peijman opened #33 "Creating a landing page"
Temporary landing page so we can transfer domain.

[2015-01-05 21:19] SunyataZero commented on #2
investigate namecheap https://www.namecheap.com/

check:
* [ ] mobile browser compat
* [ ] price

[2015-01-05 21:27] SunyataZero commented on #33
Hi, just so there's no problem down the road: as i understand it the
transfer is normally done during the purchase/setup of the arvixe hosting
when we would normally choose a domain name (it's possible that this could
be done another way that i don't know about)

On Mon, Jan 5, 2015 at 10:03 PM, Peijman <notifications@github.com> wrote:

--
http://www.svenskafreds.se/fredskalender-for-goteborg
htt

[2015-01-06 11:13] #28 closed

[2015-01-06 11:32] SunyataZero commented on #20
http://wiki.sipfoundry.org/display/sipXecs/Home

[2015-01-06 18:11] #2 closed

[2015-01-07 00:44] SunyataZero commented on #25
sista kollat:
fmchan Kowloon, Hong Kong

*
https://openhatch.org/people/2nickpick/
https://openhatch.org/people/abhikandoi2000/
https://openhatch.org/people/antz29/
https://openhatch.org/people/aquilax/
https://openhatch.org/people/Armchai/
https://openhatch.org/people/Alkimi/
https://openhatch.org/people/eiffel777/
https://openhatch.org/people/felipeborges/
https://openhatch.org/people/flemeur/

[2015-01-07 14:07] SunyataZero commented on #27
According to Programming php (o'reilly book) this is not a high priority

[2015-01-07 20:52] SunyataZero commented on #9
http://whois.domaintools.com/empathyapp.org

[2015-01-08 14:56] SunyataZero opened #34 "Autocomplete caller user/skype name with options from db when sending donation email"
To help make it easier for the empathizer when filling out the form for sending the donation emails we'd like to find a way that the empathizer can get a list that is pre-filled with user names from the database

[2015-01-08 19:00] SunyataZero opened #35 "Displaying an EULA or disclaimer to the user"
[Privacy policy generator](http://cpanel.ihavearrived.org/cpsess9603972365/frontend/x3/softaculous/index.live.php?act=software&soft=455) might be useful

[2015-01-08 19:04] SunyataZero opened #36 "Pop-up at skype button click for login or registration"
if not already logged in

[2015-01-08 19:05] SunyataZero opened #37 "Use first name from wp user (if available) in donation emails"
if available

[2015-01-08 19:06] SunyataZero commented on #36
plugin for this?

[2015-01-08 19:06] SunyataZero commented on #29
plugin for this?

[2015-01-08 19:07] SunyataZero commented on #36
maybe we can use jQuery panels

[2015-01-08 22:09] SunyataZero commented on #35
[Privacy policy generator](http://cpanel.ihavearrived.org/cpsess9603972365/frontend/x3/softaculous/index.live.php?act=software&soft=455) might be useful

[2015-01-10 12:25] SunyataZero opened #38 "Database quality review"

[2015-01-11 21:24] #3 closed

[2015-01-11 21:30] SunyataZero opened #39 "Remove url dependencies"
We like to remove the following dependencies from the source code:
[code]
These lines are found at the beginning of empathy_app.php

[2015-01-12 00:11] SunyataZero commented on #23
![after call donation](https://cloud.githubusercontent.com/assets/10245688/5697023/e3815e96-99e4-11e4-94db-98df20afe3a4.jpg)
![before call](https://cloud.githubusercontent.com/assets/10245688/5697024/e43f9c26-99e4-11e4-9060-9edaf79a66dd.jpg)

[2015-01-12 22:05] SunyataZero commented on #23
Document overview

Document | Last update | Notes
--- | --- | ---

[2015-01-13 00:03] SunyataZero commented on #17
if we cannot solve this we could maybe change to a html5 slider

[2015-01-13 00:46] SunyataZero commented on #39
One way to solve this is to use relative urls and then require that certain names are used for each page. But it would be better if we could avoid requiring this of the person setting up the website

[2015-01-13 00:53] #10 closed

[2015-01-13 00:53] #11 closed

[2015-01-13 01:02] SunyataZero commented on #35
A bit off topic but connected: [Privacy policy generator](http://cpanel.ihavearrived.org/cpsess9603972365/frontend/x3/softaculous/index.live.php?act=software&soft=455) might be useful for generating the EULA itself

[2015-01-13 01:02] SunyataZero commented on #35
Maybe there's a wp plugin for this?

[2015-01-13 01:14] SunyataZero commented on #31
I've played a little bit with this and the first problem i encountered was that selenium was unable to successfully write in the stripe dialog/pop-up, but there are probably other ways of selecting fields or writing other than the one set by default when recording

[2015-01-13 01:20] SunyataZero commented on #24
Non-tech related issue, leaving this closed for now

[2015-01-13 01:20] #24 closed

[2015-01-13 01:40] SunyataZero commented on #14
Raphael could be used for this if we need advanced functionality. Otherwise maybe html5 canvas, however support for svg (and therefore Raphael) is pretty good even on mobile phones

[2015-01-13 01:41] SunyataZero commented on #13
Closing this since it is an ongoing issue that i (@SunyataZero) will be working on

[2015-01-13 01:41] #13 closed

[2015-01-13 01:47] #9 closed

[2015-01-13 02:13] SunyataZero commented on #18
Moved to wiki [release checklist](https://github.com/EmpathyApp/EmpathyApp/wiki/Release%20checklist)

[2015-01-13 02:13] #18 closed

[2015-01-13 02:20] SunyataZero opened #40 "Error handling and design for Stripe"
* [ ] extra important: error handling for stripe ([link](http://stackoverflow.com/questions/17750143/catching-stripe-errors-with-try-catch-php-method))
* etc

[2015-01-13 02:24] SunyataZero opened #41 "js error handling"

[2015-01-13 11:13] SunyataZero opened #42 "Handling the case when skype is not installed"
Right now we get this message if skype is not installed when clicking on the skype status/call button:

[2015-01-13 13:15] SunyataZero opened #43 "Filtering php access to superglobals"
Examples of superglobals that we need to fix:
* _SERVER
* _POST

Warnings are given for all these if you use Netbeans, for example:
![selection_702](https://cloud.githubusercontent.com/assets/10245688/5721175/87c3cb52-9b2e-11e4-8db8-213c20913a89.png)

[2015-01-13 13:45] SunyataZero commented on #39
I've implemented the temporary solution described above since we needed this to be able to set up multiple sites, but maybe there is a better solution like giving the page as a shortcode argument

[2015-01-13 13:45] #39 closed

[2015-01-13 15:17] prashanthr opened #44 "Prashanth's To Do List"
* [x] Create Empathizer Skype Account
* [x] Create Additional Email Address
* [x] Test Workflow on test site
  * http://kuanyin.ihavearrived.org/ or http://garshin.ihavearrived.org/
  * According to https://github.com/EmpathyApp/EmpathyApp/wiki/Interactive-overview
* [x] Admin Access
* [x] Learn & Investigate Code Architecture

[2015-01-13 18:20] prashanthr commented on #42
I've done some work on a project where a similar application was required. We were trying to launch a video chat client from the browser. We used a custom handler "customcall:123456789" and a custom application was able to launch the video call. For this to work, the custom application had to be installed as a pre-requisite. When the application was installed, there was a registry entry written to

[2015-01-13 18:20] prashanthr commented on #42
Some useful reference:
https://developer.mozilla.org/en-US/docs/Web-based_protocol_handlers

[2015-01-16 20:48] SunyataZero opened #45 "Automatically add a new empathizer to the "neat skype status pro/v2" list"
Options:
* Add to the shortcode html dynamically (maybe from php code)
* Directly interact with neat skype status pro/v2
  * Will this require changing code that is closed source?
* more?

[2015-01-17 01:16] SunyataZero commented on #12
Articles:
* http://en.wikipedia.org/wiki/Web_testing
* ---> http://thenextweb.com/apps/2013/11/28/guide-testing-web-app-steps-approach-testing-get-sessions/

### Testing areas

##### Security
* checklist: ---> https://www.owasp.org/index.php/Web_Application_Security_Testing_Cheat_Sheet
* Tools: https://addons.mozilla.org/en-US/firefox/collections/adammuntner/webappsec/

##### Basic functionality
*

[2015-01-17 17:12] SunyataZero opened #46 "Choosing how to debug php code"
One or several systems?

[2015-01-17 17:13] SunyataZero commented on #46
Here is an overview after some research i've done: https://github.com/EmpathyApp/EmpathyApp/wiki/PHP-debugging

[2015-01-17 17:15] SunyataZero commented on #46
At the time of writing these are the important lines [in the code](https://github.com/EmpathyApp/EmpathyApp/blob/master/empathy_app.php):
[code]

[2015-01-17 19:04] Peijman opened #47 "Donate link in email to user doesn't work"
When the empathizer puts the skype name and the amount of minutes, the email was sent to the user, but the link to donate didn’t show in the email. What was shown is this:   “Hi from php!Please check out the link belowDONATION_FORM&recamount=10 (your skype name is infinitytaal and the call length was 10)Warm regards, The Empathy Team”

[2015-01-17 19:05] Peijman opened #48 "Donate button doesn't work."
Donate button doesn’t work. When I choose my price and hit donate it says “No results found. The page you requested could not be found. Try refining your search, or use the navigation above to locate the post.”

[2015-01-17 19:05] Peijman opened #49 "Adjusting donation multiplier in settings and using for rec amount"
When the empathizer sets the minute amount. I want the database to multiple that number by .75, because we want to recommend that people pay .75 cents/minute. So I want that number to be automatically calculated and put in the form under recommended amount. Also I would like to know how to change this number, for example if I want future suggestions to be at a different price.

[2015-01-17 20:43] #47 closed

[2015-01-17 20:43] #48 closed

[2015-01-17 21:27] Peijman opened #50 "Donate button says success but doesn't prompt through stripe"

[2015-01-18 17:52] Peijman opened #51 "Adding a terms and conditions button to the login page."
must be clicked to confirm an account

[2015-01-18 18:06] SunyataZero commented on #35
Info from duplicate issue #51
* Title: "Adding a terms and conditions button to the login page"
* Description: "must be clicked to confirm an account"

[2015-01-18 18:06] SunyataZero commented on #51
Closed as duplicate of issue #35

[2015-01-18 18:06] #51 closed

[2015-01-18 18:53] #50 closed

[2015-01-18 19:44] #35 closed

[2015-01-18 23:09] SunyataZero commented on #23
![selection_706](https://cloud.githubusercontent.com/assets/10245688/5794476/7629ee7c-9f6f-11e4-8b0a-bc7adb33c0fb.png)

[2015-01-18 23:14] SunyataZero commented on #23
![selection_707](https://cloud.githubusercontent.com/assets/10245688/5794486/2917605a-9f70-11e4-989d-d3302ab0dede.png)

[2015-01-18 23:43] SunyataZero opened #52 "Plugin deployment"
* [ ] Upgrading
  * database is not removed
* Notifications for admin users

[2015-01-19 00:31] SunyataZero commented on #52
http://codex.wordpress.org/Writing_a_Plugin#Updating_Your_Plugin

[2015-01-19 00:35] #14 closed

[2015-01-19 10:09] SunyataZero opened #53 "Creating a settings page"
http://wpsettingsapi.jeroensormani.com/

http://codex.wordpress.org/Settings_API

http://code.tutsplus.com/series/the-complete-guide-to-the-wordpress-settings-api--cms-624

[2015-01-19 10:10] SunyataZero commented on #53
[code]

[2015-01-20 00:00] #53 closed

[2015-01-20 04:44] prashanthr commented on #40
https://stripe.com/docs/api?lang=php

[2015-01-20 19:50] SunyataZero commented on #23
![product overview](https://cloud.githubusercontent.com/assets/10245688/5824611/fcb0d13c-a0e5-11e4-98d9-73242f0f6917.png)

[2015-01-20 20:00] SunyataZero commented on #23
![before call](https://cloud.githubusercontent.com/assets/10245688/5824856/4dc8e568-a0e7-11e4-82f5-64ba1469ab0d.png)
![after call donation](https://cloud.githubusercontent.com/assets/10245688/5824857/4de752a0-a0e7-11e4-85b2-4720b241e98c.png)

[2015-01-20 21:06] SunyataZero commented on #23
![email_form](https://cloud.githubusercontent.com/assets/10245688/5825606/f71744ac-a0ec-11e4-9f16-6aa19a2c4662.png)
![donation_form](https://cloud.githubusercontent.com/assets/10245688/5825607/f72eaaac-a0ec-11e4-88ab-0be95c708fef.png)
![email_message](https://cloud.githubusercontent.com/assets/10245688/5825723/e016c6e6-a0ed-11e4-8e7c-dd4ddf8edce6.png)
![front_page](https://cloud.githubusercontent.

[2015-01-20 22:34] SunyataZero opened #54 "Investigate wrappers for mobile web apps"
See the book "building web apps for wordpress" for a description of how to do this for Android and iPhone

[2015-01-21 00:49] SunyataZero commented on #23
![call_records](https://cloud.githubusercontent.com/assets/10245688/5826202/2c8dfb9a-a0f1-11e4-876f-2663a39d1a11.png)
![settings](https://cloud.githubusercontent.com/assets/10245688/5826257/a9b8f3c2-a0f1-11e4-9d2f-921727e07ca1.png)

[2015-01-22 00:22] SunyataZero commented on #23
OpenSIPS

http://www.opensips.org/Documentation/Tutorials

[2015-01-22 19:39] SunyataZero opened #55 "Pre-populate stripe email field in with email from user profile"
Right now the user needs to enter her email in the stripe dialog even though she has already given an email address when registering on the website.

![selection_718](https://cloud.githubusercontent.com/assets/10245688/5862995/af6ac15c-a276-11e4-8db4-7ba247304ce6.png)

[2015-01-23 01:28] #21 closed

[2015-01-23 03:49] #44 closed

[2015-01-23 04:25] #33 closed

[2015-01-23 15:33] SunyataZero opened #56 "Migrating documentation from wiki to source tree"
Which directory? /docs?

[2015-01-23 19:00] SunyataZero opened #57 "Arvixe shared hosting cpu reaches max when 40 clients connect within 1 minute"
First testing with http://loader.io/ and firebug:
* 25 requests (mostly get) for a normal call
  * 5 minutes = 300 seconds
  * This gives us ~0.1 req/s
* Now we need to add the requests for skype status updates
  * One update every 5 seconds
  * gives us 0.2 req/s
* Total: 0.3 req/s

Then comparing to when we hit the cpu limit (using the left-hand side info in arvixe's cpanel):
* 1 req/second (alr

[2015-01-23 19:00] SunyataZero commented on #57
Load test
Duration: 1 min

8351 ms average response time
40.0 % average error rate

Successful responses: 21

Received† 	169 KB
Sent 	5.81 KB
† "Received" refers to data received by the clients
Average response time across tests
(ms)

Errors
Timeouts 	14
Network 	0
400 	0
500 	0

[2015-01-23 20:41] SunyataZero commented on #23
Access to dev site avalokita.ihavearrived.org

Hi!
I have now set up a remote dev site if you should need it at
avalokita.ihavearrived.org

FTP access:
avalokita@ihavearrived.org
______________________

Here's also an overview of the different subdomains we use:
https://github.com/EmpathyApp/EmpathyApp/wiki/Remote-site-booking-and-overview

Some installation details from the wordpress install:

Pa

[2015-01-24 02:04] SunyataZero opened #58 "Custom loading of jQuery interfering with skype status"
We need to use the build-in wp way to load libs instead

[2015-01-24 02:54] #58 closed

[2015-01-24 02:57] SunyataZero commented on #17
This may be a performance issue since when removing the slide callback things are going quickly. However strangely it is not visibly effected by the raphael code, but instead seems to be effected by the update of the donation number. Possible solutions is to wait with the update of this number until we see mouseup

[2015-01-24 04:10] SunyataZero commented on #15
@Peijman Do you know what the license is for the logo? Because we now use it in the code (for the admin area) and maybe we can include attribution?

[2015-01-24 04:16] SunyataZero commented on #34
Closed because it's not important enough for the effort that would probably go into it. (1) The empathizer will be able to copy and paste the skype name easily if sitting at a desktop computer, (2) We are perhaps going to fully automate in the future so this wouldn't be used

[2015-01-24 04:16] #34 closed

[2015-01-24 04:19] SunyataZero commented on #45
How will the order be determined if this is done automatically?

[2015-01-24 21:33] SunyataZero commented on #42
**Notes for a stackoverflow question**
How can i direct the user to an url if an application is missing

Hi all,
i'm working on a web app that to function needs a piece of software (skype) to be installed on the user's computer. There are three cases when the user clicks a button:
1. the software is installed and started on the users computer
2. the software is installed but not yet started
3. the

[2015-01-24 21:39] SunyataZero commented on #42
@prashanthr Hi, thank you for the notes you've written, interesting article for me on mozdev. I'm looking at this now but have not come far yet, but was thinking that maybe the problem is not there for Windows, could you try it on a Windows computer? (i don't have one available myself, sorry). If we don't see it on windows perhaps we can close this issue since most people have this OS

[2015-01-24 22:00] SunyataZero commented on #23
Any thoughts on how we can automate this process?

http://unicodesnowmanforyou.com/

schedule management tasks
-email reminders
-hubot??
-cron?
*Important: write down process
-types: issue mgr (incl assigning tasks, at least one per person, and following up, at least once per week), doc mgr

[2015-01-24 22:38] SunyataZero commented on #46
Activate WP_DEBUG variable

[2015-01-24 23:02] #49 closed

[2015-01-25 08:17] SunyataZero commented on #56
**from gg:**

+100 for having docs along with source. Documentation is what makes FOSS succeed. Langs like python, js, go, ruby have a way to document api near code and later generate the docs out of it. This ensures it is developers responsibility to update the docs.

Having docs in repo, helps in converting to various formats. Ex I can write docs in markdown and convert to pdf, html and linux ma

[2015-01-25 09:31] SunyataZero opened #59 "Generating api docs from source code"
Two alternatives:
* http://www.apigen.org/
* http://phpdoc.org/

[2015-01-25 15:31] SunyataZero commented on #56
**My notes:**
https://github.com/tomchristie/mkdocs/tree/master/docs
http://www.mkdocs.org/
https://help.github.com/articles/creating-project-pages-manually/

[2015-01-25 15:52] SunyataZero commented on #57
**Searching for arvixe:**
http://forum.arvixe.com/smf/general/high-cpu-usage/
http://forum.arvixe.com/smf/general/high-cpu-usage/5/?wap2

[2015-01-25 15:57] SunyataZero commented on #56
document structure
templates and checklists
requirements and design documents
user documentation
dev documentation
resources/images

[2015-01-25 18:17] #17 closed

[2015-01-25 19:06] SunyataZero commented on #46
**Notes from old wiki page**

#### Tools

Name | Client | Server | Notes
--- | --- | --- | ---
[FirePHP](http://www.firephp.org/) | *Firebug*, Firefox | lib files with "require_once", Easy installation |
[Xdebug](http://xdebug.org/) | | Difficult installation |
[PHP_Debug](http://www.php-debug.com/www/) | | Installed via arvixe cPanel -> "PHP PEAR Packages" |
[PHPdbg](http://phpdbg.com/) |  | php

[2015-01-25 22:09] #56 closed

[2015-01-26 01:09] prashanthr commented on #42
@SunyataZero Yes, I will look into this. I'll test a few cases and report my findings.

[2015-01-26 01:11] #37 closed

[2015-01-26 02:16] SunyataZero opened #60 "Writing the developer guidelines"
Chapter 4 in "Producing open source software"

[2015-01-26 03:29] Sunnygolden8 opened #61 "Cannot Redeclare Class Pages in ../classes/constants.php"
![untitled](https://cloud.githubusercontent.com/assets/5623612/5895050/e1fe8278-a4d0-11e4-9b90-844494e6adc3.png)

[2015-01-26 03:44] #61 closed

[2015-01-26 22:55] Sunnygolden8 opened #62 "Strict is_a() function is Deprecated."
![untitled](https://cloud.githubusercontent.com/assets/5623612/5910075/bc6c42f4-a573-11e4-87d8-c9cb188e26d0.png)

[2015-01-26 23:16] SunyataZero commented on #62
Yes, this is a warning that we have because we are running php version 5.2,
here's some info i found:
"The is_a() function is a PHP4 function that was deprecated in PHP version
5.0.0, but then brought back in 5.3.0."
(from
https://wordpress.org/support/topic/error-message-is_a-deprecated-please-use-the-instanceof-operator
)
It's good that you found this warning though, maybe there is a workaround,

[2015-01-26 23:18] SunyataZero opened #63 "Writing tech design documentation"
* [x] Making it clear that wp doesn't have php pages that can be edited directly, instead they are generated from the database and shortcodes can be used to insert php code into them
* [ ] database design graphically (ER-diagrams?)
* [ ]

[2015-01-26 23:50] Sunnygolden8 commented on #62
Okay, cool. I'll just close this issue then.

[2015-01-26 23:50] #62 closed

[2015-01-27 15:08] SunyataZero commented on #63
I think we need to make it clear when writing "tech design" documentation that wp does not use .php files directly, this will help avoid misunderstandings

[2015-01-27 16:15] SunyataZero commented on #63
Helpful wp plugins:
* database ---link
* php version [link](https://wordpress.org/plugins/display-php-version/)

[2015-01-27 16:18] SunyataZero opened #64 "Update php version on arvixe"
* [ ] ihavearrived and subdomains
* [ ] empathyapp and subdomains

See also closed issue: #62

[2015-01-27 16:38] SunyataZero commented on #64
**Email sent**

[code]

[2015-01-27 18:25] SunyataZero commented on #42
Thank you. I tried this code (inserted with a new shortcode on the same page as the skype button) but it did nothing unforturnately:
[code]

[2015-01-28 06:31] #55 closed

[2015-01-28 06:43] sebaste commented on #55
Part of this solution from another Github project was used to solve this issue:
https://github.com/pderksen/WP-Stripe-Checkout/blob/master/stripe/includes/shortcodes.php

[2015-01-28 06:57] sebaste opened #65 "NetworkError: 404 Not Found for square-image.png in donation-form_sc.php"
I noticed this error in Firebug when starting the Stripe checkout dialogue:
"NetworkError: 404 Not Found - http://tolstoy.ihavearrived.org/square-image.png".

Either we need to include the square-image.png or we need to stop setting the 'image' variable in StripeCheckout.open().

[2015-01-28 07:27] SunyataZero commented on #55
Nice, i like this clean solution
Kind Regards,
Tord

On Wed, Jan 28, 2015 at 7:43 AM, sebaste <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-01-28 11:24] #64 closed

[2015-01-28 12:44] SunyataZero commented on #65
One of the problems is that access to image files (or any files) are non-standard in wp, please see this link for more info:
http://stackoverflow.com/questions/5221630/wordpress-path-url-in-js-script-file

[2015-01-28 19:42] SunyataZero commented on #57
Peijman wrote:

[2015-01-29 04:00] prashanthr commented on #42
Here is how it looks to a user from a Windows 8 Computer

When the skype icon is clicked from a Firefox browser, the following dialog box is shown
![firefoxhandling](https://cloud.githubusercontent.com/assets/1409501/5952198/d7d93784-a737-11e4-9503-d3cc5eca7283.JPG)

In Google Chrome, it is handled in the following way
![googlechromepermission](https://cloud.githubusercontent.com/assets/1409501/59

[2015-01-29 04:45] prashanthr commented on #65
Does a sort of URI navigation framework solve this problem? If we can create a class handler that always gives us the absolute path to an entity (For example: image folder root, Stripe library root etc), we can use that to solve this problem. Upload the files and give it a go.

[2015-01-29 08:27] SunyataZero commented on #42
Thank you for this, very useful seeing the actual screenshots, i try to do
this as well sometimes. Ok, so the skype alternatives are shown even if
skype is not installed, then maybe solving this issue is not necessary for
version 1.0? perhaps for 1.1 or something? i'm creating a new milestone
called 1.1 now where i'll add some features we would like to have but that
we may not have time for during

[2015-01-29 08:38] SunyataZero commented on #65
Hi, please use images/logo_256x256.png
Kind Regards, Tord

[2015-01-29 09:21] SunyataZero opened #66 "Completing and approving the requirements specification"
Version 0.1.2 available here:
https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/design/requirements-spec.md
(It's possible to edit by clicking on the pen icon in the upper right of the document window)

[2015-01-29 09:43] SunyataZero opened #67 "Usability testing"
According to the book "Producing open source software" usability considerations or testing testing of usability is one of the areas where free open source software often falls short

[2015-01-29 10:21] SunyataZero commented on #66
I've now gone through the entire document again
https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/design/requirements-spec.md
and made some updates (but there are still areas that are not done or completed)

[2015-01-31 15:06] SunyataZero commented on #32
@Peijman Hi, i'm going through the issue list right now, i'm wondering if it's ok that i assign this issue to you?

[2015-02-01 04:35] #43 closed

[2015-02-01 15:55] SunyataZero opened #68 "Deployment error when installing from zip file with "-master" suffix"

[2015-02-01 18:27] prashanthr commented on #65
Updated use of logo

[2015-02-01 18:27] #65 closed

[2015-02-01 18:37] SunyataZero commented on #65
Nice to see the icon in the stripe checkout!
Kind Regards, Tord

On Sun, Feb 1, 2015 at 7:27 PM, Prashanth Rajaram <notifications@github.com>
wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-02-01 21:47] SunyataZero opened #69 "Filtering form input"
One of the goals is to avoid sql injection attacks

[2015-02-01 21:47] SunyataZero commented on #69
@Sunnygolden8 Hi, i'm assigning this issue to you since you're best on this area, hope this is ok, otherwise please tell me and i'll remove you. Also if you like me not to do this in the future feel free to tell me

[2015-02-01 21:52] SunyataZero opened #70 "Using Wordpress for presence information"
This is a suggestion from @prashanthr that i like alot, there are many advantages with this approach, among them is that we will not be bound to a specific protocol (like skype)

[2015-02-01 22:21] Sunnygolden8 commented on #69
I'll see what I can do here.

[2015-02-01 22:23] SunyataZero commented on #69
Thank you!

On Sun, Feb 1, 2015 at 11:21 PM, Christine Lam <notifications@github.com>
wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-02-02 23:54] SunyataZero commented on #23
Organizational structure

Summary/Conclusion
    Open communication even about big things
        Exception: Asking about non-web-dev tools
    Benevolent technical dictatorship with Tord, Peijman and Mica
        Management roles switches person (TODO: How to choose? Tord??)
    A bit more careful about who to include in dev group
Todo
    Tord removes the people not active from the dev group in

[2015-02-03 01:26] SunyataZero commented on #23
peijman
23hyvp7z
empathyapp@gmail.com

[2015-02-03 02:22] SunyataZero commented on #23
# Hubot
(cd /home/sunyata/daneel; HUBOT_SLACK_TOKEN=xoxb-3467240329-VpDIM0BgBNGe2d29enhvWMrV home/sunyata/daneel/bin/hubot --adapter slack)

HUBOT_SLACK_TOKEN=xoxb-3467240329-VpDIM0BgBNGe2d29enhvWMrV /home/sunyata/daneel/node_modules/.bin/hubot --adapter slack

sunyata@ihavearrived.org [~/daneel/bin]# cat hubot
#!/bin/sh

set -e

npm install
export PATH="node_modules/.bin:node_modules/hubot/node_m

[2015-02-03 12:35] SunyataZero commented on #23
http://bluehackers.org/

[16:26] <Niharika> SunyataZero: https://www.google-melange.com/gsoc/homepage/google/gsoc2015 Application period begins on 9th. You need to prepare an Ideas page and gather a few interested mentors. Good luck! :)

[2015-02-04 15:42] SunyataZero commented on #31
Books about Selenium: http://www.seleniumguide.com/p/best-selenium-books-top-recommended.html

[2015-02-05 02:54] SunyataZero commented on #12
* http://en.wikipedia.org/wiki/Web_application_security
* https://www.owasp.org/index.php/Main_Page

[2015-02-05 20:04] SunyataZero commented on #12
http://www.opensourcetesting.org/

[2015-02-06 06:53] Peijman commented on #15
logo is totally ours! Use it in the code however you want!

[2015-02-08 09:53] SunyataZero opened #71 "Making a security assessment"
also see #73

[2015-02-08 09:54] SunyataZero commented on #71
https://www.owasp.org/index.php/Main_Page

http://en.wikipedia.org/wiki/Web_application_security#Security_threats

[2015-02-10 01:13] SunyataZero opened #72 "Making a separate build for empathyapp.org"

[2015-02-10 02:39] SunyataZero commented on #68
Unable to reproduce, maybe because of a change (searching through the source code i could not find any absolute paths which would be the cause of this problem)

[2015-02-10 02:39] #68 closed

[2015-02-11 22:30] SunyataZero opened #73 "Securing Wordpress"

[2015-02-12 01:29] SunyataZero opened #74 "Donating without being logged in ( + New db design?)"
* [x] Create token
* [x] Use token in GET params

[2015-02-12 01:30] SunyataZero opened #75 "db overview diagram"

[2015-02-12 15:47] #60 closed

[2015-02-12 16:18] SunyataZero opened #76 "investigate if to remove external js lib dependencies for security reasons"
currently only one: raphaeljs

[2015-02-12 16:20] SunyataZero commented on #76
http://programmers.stackexchange.com/questions/139372/referencing-external-javascript-vs-hosting-my-own-copy

[2015-02-12 19:33] Peijman commented on #66
the link above doesnt work

[2015-02-12 19:59] Peijman commented on #6
Going with Dvi them from Elegant Themes.

[2015-02-12 19:59] #6 closed

[2015-02-12 20:03] SunyataZero commented on #66
@Peijman Ok, there's been an update of the path, here's the new one:
https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/planning/requirements-spec.md

[2015-02-12 21:16] Peijman opened #77 "neat skype still calls when empathizers are 'do not disturb' or 'invisible'"
when empathizer puts "do not disturb" or "invisible" - neat skype still calls them? shows as offline status on the page, but when you click it still calls. --- neat skype status says that you have the option to change this.. maybe you can change this in the code editor of the plugin in wordpress?  If it is online or away then calling is what we want. Basically if it is do not disturb or invisible,

[2015-02-12 21:18] Peijman opened #78 "neat skype status error message"
This error message shows up at the top of the page: even though it looks like it is working.
neat skype status error thing: undefined variable return_value on line 406

[2015-02-12 21:19] SunyataZero commented on #77
i can look into this issue. worst-case scenario: we may need to change
skype for something else (this is not as big of a deal as it sounds since
none of our own code actually interacts with neat skype status)

On Thu, Feb 12, 2015 at 10:16 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihave

[2015-02-12 21:20] Peijman opened #79 "is there a way to make it so when users log in, it doesnt go to dashboard, but straight back to webpage."
this would just be a better user experience.

[2015-02-12 21:21] Peijman opened #80 "wordpress: how to have a different navigation bar for empathizers, and a different one for users"
?

[2015-02-12 21:22] SunyataZero commented on #78
Yes, this is a known minor bug in neat skype status, i'll add it to our
file [risks and defects](
https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/dependencies/risks-and-defects.md
)

On Thu, Feb 12, 2015 at 10:18 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-02-12 21:25] Peijman commented on #78
but how do we get rid of it? Is there a way? It wasn't showing up before.....

[2015-02-12 21:27] SunyataZero commented on #78
Yes, it's because we are printing many much debug/warning messages as possible, i have created this issue #72 for dealing with this. Will still keep this issue open until the other one is fixed

[2015-02-12 21:28] SunyataZero commented on #78
Have now updated this file
https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/dependencies/risks-and-defects.md
with the neat skype status warning/notice

[2015-02-12 21:31] Peijman commented on #78
ok so when we go live, we can fix this easily by printing less messages?

[2015-02-12 21:38] Peijman opened #81 "neat skype still calls empathizer even if logged out!"

[2015-02-12 21:41] Peijman commented on #81
It even calls me if I am signed out of skype!

[2015-02-12 21:48] SunyataZero commented on #78
yes, but it would be nice to automate this process, so i'm keeping this
issue open for now if that's ok

On Thu, Feb 12, 2015 at 10:31 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-02-12 21:49] SunyataZero commented on #72
@sebaste: you're good with scripts, could you try to fix this? it would help solve #78 as well

[2015-02-12 21:52] SunyataZero commented on #81
@Peijman: don't think there's a way around this other than simply removing the phone number from the empathizer accounts. Maybe this is ok since we are advicing empathizers to use a separate account for empathy app calls?
https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/misc/empathizer-user-guide.md

[2015-02-12 21:55] SunyataZero opened #82 "skype redirects incoming calls to phone"
Peijman: Also when using skype on my phone, if i don't answer with skype, skype calls my phone. How to disable this? Also this should be documented so empathizers will know how to deal with it.

Peijman: It even calls me if I am signed out of skype! Oh my god. Attack of the empathy users! :)

[2015-02-12 21:56] SunyataZero commented on #82
@Peijman: don't think there's a way around this other than simply removing the phone number from the empathizer accounts. Maybe this is ok since we are advicing empathizers to use a separate account for empathy app calls?
https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/misc/empathizer-user-guide.md

Closing this issue (but leaving #81 open) if that is ok?

[2015-02-12 21:57] Peijman commented on #81
Ok I resolved this. You just have to make sure that your # is not listed in your skype app on your phone.

[2015-02-12 21:58] SunyataZero commented on #81
But this resolution was for the new issue #82 right? we still have the problem in the title right?

[2015-02-12 22:02] Peijman commented on #82
This is resolved, and now updated in the empathizer user-guide, so closing this issue.

[2015-02-12 22:02] #82 closed

[2015-02-12 22:05] Peijman commented on #81
yes. This still happens. But it is not a problem necessarily, but ideally it should not do anything if the status says offline.

[2015-02-12 22:06] Peijman commented on #78
great, I am taking priority off then.

[2015-02-12 22:09] SunyataZero commented on #81
Ok, i think (not sure) what happens is that if you are offline you are moved to the end of the "queue" of people to call

[2015-02-12 22:18] SunyataZero commented on #23
[ ] psychology of development
when stressed: organize data, use tomate

[2015-02-12 23:57] Peijman commented on #79
Found this:  https://wordpress.org/support/topic/go-to-main-page-after-logging-in-not-dashboard

[2015-02-13 00:00] Peijman opened #83 "Adding instructions to login page and registration page"
"Your username is your valid skype name. If you do not have skype, please create an account with them first, here : https://login.skype.com/account/signup-form"

[2015-02-13 00:05] Peijman commented on #81
yes, but it still calls you, but not a big deal.

[2015-02-13 00:55] Peijman opened #84 "Fixing Email form page look"
The email form looks a bit strange the text doesnt match with the box to enter the data

https://www.empathyapp.org/email-form/

[2015-02-13 00:57] Peijman opened #85 "email reminder if people haven't paid within 24 hours."
as a way to remind them. Maybe it would send an email every day for 3 days.  This isn't absolutely crucial for beta, but would be nice, and I think people might need to be reminded. Low priority

[2015-02-13 01:26] #79 closed

[2015-02-13 06:25] sebaste commented on #72
I will be away until 17/2, but I will start investigating this once I'm back.

[2015-02-13 09:58] #81 closed

[2015-02-13 10:00] SunyataZero commented on #84
@Peijman i don't understand, can you include a screenshot in this issue?

[2015-02-13 10:03] SunyataZero commented on #85
Setting milestone to v1.1 because of low prio

[2015-02-13 10:05] SunyataZero commented on #85
This may be difficult to implement, we probably need a cron job that checks against the database, this is my first idea of how to solve this issue. But i'm not sure how to integrate the cron job with the Empathy App plugin, i have not worked with cron jobs before, does anyone else have experience with this or ideas?

[2015-02-13 10:09] SunyataZero commented on #80
@Peijman a bit confused: do you mean that access should be restricted to certain pages and that each role sees only links to the pages available for her role? or are you thinking of the top nav bar (that we see in the admin interface)?

[2015-02-13 13:34] SunyataZero commented on #27
phpunit.de is the best alternative

[2015-02-13 13:35] SunyataZero commented on #27
phpunit.de is the best alternative

will write documentation for how to write these tests

[2015-02-13 13:40] SunyataZero commented on #31
The Problem

On occasion you'll run into a relic of the front-end world -- frames. And when writing a test against them, you can easily get tripped if you're not paying attention.
A Solution

Rather than gnash your teeth when authoring your tests, you can easily work with the elements in a frame by telling Selenium to switch to that frame first. Then the rest of your test is business as usual.

Le

[2015-02-13 13:43] SunyataZero commented on #32
Defects in NSS and Skype can be found in [this file](https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/dependencies/risks-and-defects.md)

[2015-02-13 13:45] SunyataZero commented on #40
@prashanthr Can we close this issue? I'm really happy with the error handling for stripe now

[2015-02-13 13:47] SunyataZero commented on #41
@sebaste Hi, what's the progress on this issue? Doesn't need to be perfect for the BETA, please use a pragmatic approach and if you've done more detailed work we can put it into the docs and implement later? is this ok with you?

[2015-02-13 13:49] SunyataZero commented on #42
@prashanthr Unassigning you from this issue, hope this is ok? Because @Peijman wants us to focus on the BETA version right now and i don't think we need this

[2015-02-13 13:51] SunyataZero commented on #46
We will be using firephp until php 5.6 (and therefore PHPdbg) is available on arvixe

[2015-02-13 13:53] SunyataZero commented on #52
@sebaste Assigning this to you, hope this is ok? It's similar to another issue you are working on

[2015-02-13 13:55] SunyataZero commented on #57
@Peijman Have you been able to test empathy app with several people at once? This would be the best, to actually be able to measure the load during the real conditions. Then we could also use the information we gained from this (assuming that i can run my tests during the same time period) to calcluate how to run the load tests in the future

[2015-02-13 13:56] SunyataZero commented on #63
Closing since the only thing left is the db, and there is a separate issue for this: #75

[2015-02-13 13:56] #63 closed

[2015-02-13 13:58] SunyataZero commented on #69
@Sunnygolden8 Hi, are you making progress on this issue? Could really use your help since the BETA-release is coming up soon

[2015-02-13 14:05] SunyataZero commented on #77
I'm closing this issue since it's a duplicate of #81 (which was resolved when updating the documentation)

[2015-02-13 14:05] #77 closed

[2015-02-13 14:07] SunyataZero commented on #77
@Peijman Have closed this but i'm now adding emphasis in the documentation to draw attention to this problem, see the bottom of this list: https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/dependencies/risks-and-defects.md

[2015-02-13 14:09] SunyataZero commented on #78
@sebaste Assigning this to you since it's connected with another issue you have, hope this is ok?

[2015-02-13 16:49] Peijman commented on #84
![screen shot 2015-02-13 at 8 47 55 am](https://cloud.githubusercontent.com/assets/10391959/6191284/0f65f8be-b35d-11e4-840e-ef2490c3d2aa.png)
Seems like it needs to be on another line, and also if you add an empty line after the call duration box so its not too close to the submit button would be great

[2015-02-13 16:51] Peijman commented on #80
I fixed this so Im closing this issue. I have given different access to the empathizers and users. Now for example the email form only appears on the navigation bar if you are an empathizer. Users dont even see it, and just in case its a smart hacker and they know the url, they will still be redirected to login.

[2015-02-13 16:51] #80 closed

[2015-02-13 17:28] Peijman commented on #57
This is my next testing area.

[2015-02-13 17:33] Peijman commented on #66
I love that you put this together! Some general thoughts I am having about this are that we should make this document easier for people to access, and a little simpler so that people can catch up on things really fast. I think it's pretty good, just needs some editing. What I'm thinking is that all documentation should be as streamlined and simple and clear as possible so that devs can understand

[2015-02-13 18:17] SunyataZero commented on #84
oh, sorry, i got to the login page and therefore thought it was the login (which looks good to me), i'll check this out

[2015-02-13 18:21] SunyataZero commented on #84
This is what i see on http://coetzee.ihavearrived.org/email-form/
![selection_733](https://cloud.githubusercontent.com/assets/10245688/6192725/463db978-b3b5-11e4-8da6-420dd4987880.png)

I think it depends on the theme and on css (css is a way to "style" html)

[2015-02-13 18:27] SunyataZero commented on #57
@Peijman Alright! I think this will help us alot, i'd be happy to help out with this testing and run some tools (now i'm thinking of loader.io) during a time period when you are testing

[2015-02-13 18:34] SunyataZero commented on #66
Thank you, this document is meant to be on the formal side, but i agree that it's important to make it easy for the devs to have a low so-called "hacktivation energy" :) (the amount of work to be done before starting to play with the source code and seeing changes)

One reason for having such an extensive document is that we have less of a risk of missing something, and if some area is too detaile

[2015-02-13 19:52] SunyataZero commented on #27
http://stackoverflow.com/questions/899390/how-do-i-write-unit-tests-in-php-with-a-procedural-codebase

[2015-02-13 20:52] #27 closed

[2015-02-13 21:17] SunyataZero commented on #83
http://codex.wordpress.org/Customizing_the_Login_Form

[2015-02-13 21:28] #83 closed

[2015-02-13 21:51] SunyataZero commented on #74
@prashanthr Hi, i've started working on this issue, i'm thinking to myself "why not just give the username as a GET parameter?", yes someone could fake this, but why would they want to? (since the only thing that would happen is that the person faking it would be paying for it seeming that another user is contributing more money than they actually are. Maybe i'm missing something not sure, because

[2015-02-13 22:07] SunyataZero commented on #84
CSS tutorial: http://www.w3schools.com/css/

[2015-02-13 23:57] SunyataZero commented on #74
Changed to high-prio because i will fix some other important things at the same time

[2015-02-13 23:57] SunyataZero commented on #74
Generating a token:
http://php.net/manual/en/function.uniqid.php

[2015-02-14 02:09] SunyataZero opened #86 "NSS queue system does not seem to work sometimes"
```[skype skypenames="echo123, tord_dellsen, infinitytaal"]```

For example shows "echo123" even though tord_dellsen is online. Have tried reloading but no luck, it seems that this problem is active under some time periods. Frequency: approx. 3/20

[2015-02-14 03:09] prashanthr commented on #42
@SunyataZero No problem! I completely understand. We can investigate this when we deal with this issue when it becomes more critical/relevant.

[2015-02-14 03:18] prashanthr commented on #74
@SunyataZero Using the username would definitely be a simpler implementation and the problem may be partially resolved by using this approach.

There are many useful use cases for using a token or special identifier for a transaction/data row in a database.
Let's assume 2 transactions
1) User1 calls Empathizer1 today - Transaction 1
2) User1 calls Empathizer1 tomorrow - Transaction 2

Using "User1

[2015-02-14 03:19] #40 closed

[2015-02-14 03:20] prashanthr commented on #40
Unit Tests should be written later. Maybe another low priority issue for the first version but will be high priority for subsequent versions.

[2015-02-14 10:02] SunyataZero commented on #40
Yes, i've been looking into unit testing and it's possible to use phpunit for our code (even though it's basically procedural), for more info please see issue #27. I agree that we wait with unit testing until later

[2015-02-14 10:17] SunyataZero commented on #74
@prashanthr Thank you so much for the input and analysis, i agree that this will be a better solution and i'll probably use the "uniqid" php function for generating the token

[2015-02-14 13:14] SunyataZero commented on #73
Moving security to another (secret) location

[2015-02-14 13:15] SunyataZero commented on #71
Moving Security to another (secret) location

[2015-02-14 13:15] #71 closed

[2015-02-14 13:15] SunyataZero commented on #73
Moving Security to another (secret) location but will keep this issue as a high-level issue so that we remember

[2015-02-14 18:53] SunyataZero commented on #23
just added google drive integration, if you need to add files from google drive yourself you need to configure this (so this has to be done by each individual who is interested in using the integration). to do this, click on the downward arrow in the upper left corner and choose "configure integrations", from there you can find the google drive integration under "configured integrations"

[2015-02-14 22:41] SunyataZero commented on #31
Selenium IDE+Webdriver: http://blog.reallysimplethoughts.com/2013/02/18/webdriver-playback-in-selenium-ide-is-here/
Selectwindow: http://software-testing-tutorials-automation.blogspot.se/2013/03/how-to-use-selectwindow-and.html

[2015-02-16 02:03] SunyataZero commented on #23
https://github.com/EmpathyApp/EmpathyApp/milestones

weekly summary
on gg
at the end of the week we write down
"news" in the book
-archive of what has happened

[ ] writing docs for writing news
https://github.com/EmpathyApp/EmpathyApp/pulse
-creating a new role
[ ] setting a gcal reminder

[ ] writing down what has happened in the last week
looking to do for the next week
introducing new members

[2015-02-16 13:02] SunyataZero commented on #75
https://docs.google.com/drawings/d/1lw98v7xgTgtJHvPDj5_wlEk_V3gehLKx_EyhtFy4xN8/edit

[2015-02-16 13:02] #75 closed

[2015-02-16 13:10] SunyataZero opened #87 "Integrate Posts 2 Posts in our source code"
to remove dependency on the plugin

[2015-02-16 13:27] SunyataZero opened #88 "db redesign?"

[2015-02-16 13:36] SunyataZero commented on #74
md5 seems much better from a security perspecive so i'll use this instead

[2015-02-16 13:41] SunyataZero opened #89 "[Collection] All security issues (see link to google doc)"
hidden in a separate issue list with limited access here:
https://docs.google.com/spreadsheets/d/1bBlSu7gzmqnxSv6jN9PwBYSZuUuovXiRjalCP-X8QCA/edit#gid=0

[2015-02-16 21:16] SunyataZero opened #90 "ihavearrived: IO limitation exceeded"
On conure arvixe hosting there has been a problem with io load

![selection_003](https://cloud.githubusercontent.com/assets/10245688/6219412/5cf1f032-b629-11e4-901e-e00cba381260.png)

This is another image indicating that it's usage per second that is the limitation:
![selection_010](https://cloud.githubusercontent.com/assets/10245688/6219458/03a01b5c-b62a-11e4-88ac-dc7af785c89b.png)

Actions:
* [

[2015-02-16 22:59] SunyataZero commented on #57
Closing this issue after having run tests earlier today and also talked with the arvixe support which calmed my fears:
https://docs.google.com/document/d/1SUIQug-AoPBW_RB1_q6dMGVtcqXFMFPuhblg4XnlZ3Q/edit?usp=sharing

[2015-02-16 22:59] #57 closed

[2015-02-16 23:00] SunyataZero commented on #90
Closing this issue after having run tests earlier today and also talked with the arvixe support which calmed my fears:
https://docs.google.com/document/d/1SUIQug-AoPBW_RB1_q6dMGVtcqXFMFPuhblg4XnlZ3Q/edit?usp=sharing

[2015-02-16 23:00] #90 closed

[2015-02-17 00:11] Peijman commented on #32
should we close this one as well since our tests were good?

[2015-02-17 00:12] Peijman commented on #86
queue system worked fine today. So I think we should close this.

[2015-02-17 00:12] SunyataZero commented on #32
yes! closing it now, feels good to close so many issues

[2015-02-17 00:12] #32 closed

[2015-02-17 00:13] SunyataZero commented on #86
Alright, closing this as well

[2015-02-17 00:37] SunyataZero opened #91 "securing dev sites?"

[2015-02-17 22:01] #76 closed

[2015-02-17 22:01] SunyataZero commented on #73
closing this since we are moving security issues to another place

[2015-02-17 22:01] #73 closed

[2015-02-17 22:02] SunyataZero commented on #69
moving this issue to our security issue list

[2015-02-17 22:02] #69 closed

[2015-02-18 13:43] SunyataZero commented on #38
@prashanthr Hi! I'm redesigning the database now so that we use our own db table, please wait with the review until this is completed (hopefully within 24h) Kind Regards, Tord

[2015-02-18 14:05] SunyataZero commented on #74
Still to do: Finding a way to generate a *unique* token
https://www.google.se/search?client=ubuntu&channel=fs&q=php+unique+secure+token&ie=utf-8&oe=utf-8&gfe_rd=cr&ei=jJvkVOCUJIKe-wbFiICIDg

[2015-02-18 17:19] SunyataZero commented on #74
quality review needed, but closing for now

[2015-02-18 17:19] #74 closed

[2015-02-18 17:38] SunyataZero commented on #89
Also here is our security directory on google docs:
https://drive.google.com/drive/u/0/#folders/0B_YFLvEhbTAqY094dkwxSnptaWM/0B_YFLvEhbTAqfnpzYllveG9iMmJHNHJuVjVqQ0JfVDNsRGlTX1duVjZtVWdTZ1YyRUlIaUE

[2015-02-18 17:58] SunyataZero commented on #86
@Peijman: Reopening this issue since i've seen it again
Maybe has something to do with my gnu/linux skype client

[2015-02-19 16:41] prashanthr commented on #38
Acknowledged

[2015-02-21 17:14] #88 closed

[2015-02-21 17:15] SunyataZero commented on #87
after the db redesign we no longer use p2p so i'm closing this issue

[2015-02-21 17:15] #87 closed

[2015-02-21 17:16] SunyataZero commented on #67
This is now integrated into the rest of the testing, although it's an area where i (Tord) don't have much knowledge so may need some help

[2015-02-21 17:16] #67 closed

[2015-02-22 00:24] SunyataZero commented on #86
Update: More evidence that it may be the Linux client: I've had problems with the skype status not updating when i start using the computer, therefore i'm closing this issue for now

[2015-02-22 00:24] #86 closed

[2015-02-22 00:26] SunyataZero commented on #15
fixed the logo licensing problem by simply not including the logo in the plugin (see detailed info in the google group). Keeping this issue open since there may be other licensing issues left

[2015-02-22 00:54] #84 closed

[2015-02-22 01:14] SunyataZero opened #92 "Limit access to email-form page"

[2015-02-22 01:51] #92 closed

[2015-02-22 10:41] sebaste commented on #41
I've read several documents regarding error handling in JavaScript and there are several existing ideas on how to implement this in a good way. I will need more time to find out what the proper way is for this project.

In the meantime, for the BETA release, I will implement a simple kind of error handling - logging raised exceptions to the console.

[2015-02-22 10:48] SunyataZero commented on #41
Thank you! I think this works well for us

On Sun, Feb 22, 2015 at 11:41 AM, sebaste <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-02-22 12:57] SunyataZero opened #93 "Min, max and integer type validation for donation-form GET params"

[2015-02-22 13:58] sebaste opened #94 "Firebug: ERROR in donation-form: getInitialDonationAmount is not defined"
I guess the function placement is incorrect. Will try to fix it.

[2015-02-22 15:57] SunyataZero commented on #94
There is still a problem with that the functions are not pre-loaded (even though we use jQuery(function() in the beginning). The temporary solution (and the solution to this problem) is to reorder the functions

[2015-02-22 15:57] #94 closed

[2015-02-22 18:24] SunyataZero opened #95 "Remove duplicate of code in donation-form_sc.php"
[code]

[2015-02-22 20:31] SunyataZero opened #96 "Customize and go through release checklist"
* [x] https://github.com/EmpathyApp/EmpathyApp/blob/master/docs/ways-of-working/release-checklist.md
* [x] User agreement to terms and conditions
* [x] Removing all extra themes
* [x] Upload *custom .htaccess* and test access (if all this has not been done before)
* [x] secure passwords
* [x] If needed: Remove and recreate database
* [x] ensure that stripe is in *live* mode
* [x] use separate buil

[2015-02-22 22:56] SunyataZero commented on #95
Probably the best way to solve this is by coding the duplicated parts in php. Otherwise we could put them into a shared javascript file that is accessible globally (and added with enqueue scripts together with the other scripts)

[2015-02-22 23:56] SunyataZero opened #97 "Customize NSS using version 1's GPLv2 source as base"

[2015-02-24 03:17] SunyataZero commented on #23
How to upgrade the plugin (and possibly the db) and keep the db records
-creating a test case for this as well
DOES NOT SEEM TO BE A PROBLEM now we can even remove the plugin and the db is kept
HOWEVER: Add to the release instructions to remove any old db before release maybe, or verify the old db, in any case be careful with removing records that we need

[2015-02-24 23:36] SunyataZero opened #98 "NSS icon dissappears"
This happens infrequently

[2015-02-24 23:36] SunyataZero commented on #98
@Peijman Have you been able to reproduce this problem? When thinking about i may have seen it once or twice

[2015-02-25 13:32] SunyataZero commented on #98
@Peijman Now i see that it dissapears only for a while (maybe 5 seconds which is the ajax update time). Did you see the same thing? Did the icon come back after a while?

[2015-02-25 14:31] SunyataZero commented on #86
If i manually change status it will be updated in nss. Maybe the signal has not been sent to the skype servers?

[2015-02-25 14:37] SunyataZero commented on #66
@Peijman Can we close this issue? Or what is the status right now?

[2015-02-25 14:39] SunyataZero commented on #12
@Peijman Just a friendly reminder that we need to have TCs for the usability as well, you can use the structure that i've used in the functionality testcases i've written if you like

[2015-02-25 16:43] Peijman commented on #98
I only had that problem once. Now it's fine. But I was also messing around
with the website alot, so it could have been my own problem.

Peijman Kouretchian, CEO

Mica Stumpf COO

Empathy App

510.943.8310

http://www.empathyapp.org
empathyapp@gmail.com

On Wed, Feb 25, 2015 at 5:32 AM, Tord <notifications@github.com> wrote:

[2015-02-26 09:25] SunyataZero commented on #98
*Wondering if this is because of the setting i changed in nss which says that we like to get the status on startup*, will try to change this and see if the problem reoccurs for me

[2015-02-26 09:29] #89 closed

[2015-02-26 09:32] SunyataZero commented on #72
@sebaste The best solution is maybe to just create a release branch? and put the error+warning+notice enabling lines in a separate file so that it is even more clear than now?

[2015-02-26 09:47] SunyataZero opened #99 "Improving wp-admin Call Record"
Ideas:
* Reverse time ordering
* Ability to edit records
* Ability to add records

[2015-02-26 09:50] SunyataZero opened #100 "Hiding NSS icon for users that are not logged in"
@Peijman Do we still want this functionality?

[2015-02-26 16:12] Peijman commented on #100
I don't remember wanting this. As far as the NSS icon, I just want it to not show on the homepage unless the user or empathizer is logged in. It doesn't really matter if the empathizer sees it.

[2015-02-26 16:14] SunyataZero commented on #100
Ok, what i worry about from a performance perspective is that there will be
many empathizers having the front page loaded and therefore we get an AJAX
call (for updating the skype status) every 5 seconds. Maybe not an issue
right now though, perhaps in the future

On Thu, Feb 26, 2015 at 5:12 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.sv

[2015-02-26 18:47] SunyataZero commented on #100
@Peijman I have changed the name of this issue so it is about what you are after instead. I've tried to implement this but it doesn't seem to work since nss already uses a shortcode itself and if we want to place our icon with a shortcode ourselves there seems to be a problem. Is it possible to move the nss icon to another page? We could then restrict access to the whole page instead, this i have

[2015-02-26 21:36] Peijman commented on #100
That's not a bad idea. An easy fix at least for now.

Peijman Kouretchian, CEO

Mica Stumpf COO

Empathy App

510.943.8310

http://www.empathyapp.org
empathyapp@gmail.com

On Thu, Feb 26, 2015 at 10:47 AM, Tord <notifications@github.com> wrote:

[2015-02-27 08:52] SunyataZero commented on #100
Ok, just need to know the exact design, then i'll get on it
Kind Regards,
Tord

On Thu, Feb 26, 2015 at 10:36 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-02-27 08:58] SunyataZero commented on #15
@Niharika29 Hi! Do you have experience with licensing? How to add licenses in source files, how to show licensing for libs/dependencies etc? Kind Regards, Tord

[2015-02-27 20:20] #66 closed

[2015-02-27 20:26] #12 closed

[2015-02-27 20:41] SunyataZero commented on #100
* everyone who is logged in has access to the new skype page
* but only callers are redirected to that page when logging in

[2015-02-27 20:48] SunyataZero opened #101 "Go through all TODOs in the source code"

[2015-02-28 10:18] #38 closed

[2015-02-28 12:26] #100 closed

[2015-03-01 09:43] SunyataZero opened #102 "Setting initial heart size"

[2015-03-01 17:01] SunyataZero commented on #102
When #95 is solved this will probably be easy to do. Right now it seems that we cannot solve this

[2015-03-01 22:37] SunyataZero opened #103 "Rewrite test cases for new skype-page"

[2015-03-01 22:45] SunyataZero opened #104 "update testcases with new donation system"
-5 minutes for first call

[2015-03-01 22:45] SunyataZero opened #105 "update documentation with new skype page"

[2015-03-01 22:47] SunyataZero opened #106 "tcf Functionality testing"
[doc link](https://github.com/EmpathyApp/EmpathyApp/blob/master/manual-testing/)
[test overview](https://github.com/EmpathyApp/EmpathyApp/wiki/Test-Overview)

[2015-03-01 22:49] SunyataZero opened #107 "tcl Load testing"
[doc link](https://github.com/EmpathyApp/EmpathyApp/blob/master/manual-testing/)
[test overview](https://github.com/EmpathyApp/EmpathyApp/wiki/Test-Overview)

[2015-03-01 22:50] SunyataZero opened #108 "tcu Usability testing"
[doc link](https://github.com/EmpathyApp/EmpathyApp/blob/master/manual-testing/)
[test overview](https://github.com/EmpathyApp/EmpathyApp/wiki/Test-Overview)

[2015-03-01 22:52] SunyataZero opened #109 "tco Other tests"

[2015-03-02 13:02] SunyataZero commented on #78
Closing this issue since we have a tempoaray fix in place now and the long-term solution will be to create a separate build for the release

[2015-03-02 13:02] #78 closed

[2015-03-02 13:07] #93 closed

[2015-03-02 22:33] SunyataZero commented on #107
Load testing suite completed. Main finding is that we need to be consious about the amount of data sent from the page, but the AJAX calls are probably not critical (and if they are we can increase the time period)

[2015-03-02 22:33] #107 closed

[2015-03-03 07:20] #95 closed

[2015-03-03 07:22] sebaste commented on #95
Issue has been solved. See explanation here:
http://code.tutsplus.com/articles/how-to-include-javascript-and-css-in-your-wordpress-themes-and-plugins--wp-24321

[2015-03-03 15:08] SunyataZero opened #110 "Security tests"
https://drive.google.com/drive/u/0/#folders/0B_YFLvEhbTAqY094dkwxSnptaWM/0B_YFLvEhbTAqfnpzYllveG9iMmJHNHJuVjVqQ0JfVDNsRGlTX1duVjZtVWdTZ1YyRUlIaUE

[2015-03-03 16:33] SunyataZero commented on #98
Have not seen this problem in a while now

[2015-03-05 01:59] SunyataZero opened #111 "Signs sometimes not displayed and at the same time numbers shown around images of people"
* OS: Ubuntu 14
* Browser: Firefox 35
* Freq: approx. 4/30

![selection_034](https://cloud.githubusercontent.com/assets/10245688/6497694/679c7c48-c2e3-11e4-9974-7ed73127a991.png)

![selection_035](https://cloud.githubusercontent.com/assets/10245688/6497707/8fb5a24a-c2e3-11e4-89ab-a046f7c90780.png)

[2015-03-05 15:01] SunyataZero opened #112 "Adding PHPUnit tests"
https://netbeans.org/kb/docs/php/phpunit.html

[2015-03-05 15:26] SunyataZero opened #113 "Change login and registration logo"

[2015-03-05 15:49] SunyataZero commented on #111
@Peijman I found this support page (search for divi): https://www.elegantthemes.com/forum/

[2015-03-05 15:50] #113 closed

[2015-03-05 15:50] SunyataZero commented on #98
Still have not seen this since last time i wrote

[2015-03-05 16:20] SunyataZero commented on #111
@Peijman: I tried signing up but they want money, so i think you need to use your login details and ask them. Maybe referring to this issue is good since it contains screenshots

[2015-03-05 21:13] SunyataZero opened #114 "Make the email generic by adding it to the settings"
connect@empathyapp.org

[2015-03-05 23:13] #103 closed

[2015-03-05 23:13] #104 closed

[2015-03-06 00:17] Peijman opened #115 "navigation bar menu - show different items depending on if logged in or not"
If not logged in options should include : home, log in, register

If logged in : Home, Skype Page,

[2015-03-06 16:20] SunyataZero opened #116 "Update stripe to new version"
![selection_041](https://cloud.githubusercontent.com/assets/10245688/6528831/0817276c-c425-11e4-8436-6b2a9e2e78b9.png)

[2015-03-06 18:04] SunyataZero commented on #111
Answer from elegantthemes support:

Hi,
Please add following code to your .htaccess file and then check:

[code]

let me know.

Thanks.

[2015-03-06 19:04] SunyataZero opened #117 "SEO"

[2015-03-06 19:57] SunyataZero commented on #108
@Peijman Hi, is this issue completed? Or do we need to do something more?

[2015-03-06 20:28] SunyataZero opened #118 "Nav bar not shown for Android browsers"
* Browsers: Chrome for Android, UC browser, Android browser
* OS: Android 4.0.3
* Browser: UC browser 10
* Frequency: 4/4

[2015-03-06 20:30] SunyataZero opened #119 "Optimize website images for mobile phones"
**Can be extremely slow** since large pictures are downloaded even though they are not needed

[2015-03-07 16:32] SunyataZero commented on #111
This seems to have dissapeared (has not been seen again since the last comment and the update described there)

[2015-03-07 16:32] #111 closed

[2015-03-07 16:33] SunyataZero commented on #118
Support request filed on the elegantthemes forum

[2015-03-07 19:26] #110 closed

[2015-03-07 19:27] SunyataZero commented on #102
@sebaste Hi, have you made any progress on this issue? Kind Regards, Tord

[2015-03-07 19:30] SunyataZero commented on #98
Have seen this once now

[2015-03-07 19:40] SunyataZero commented on #72
@sebaste Have you made progress on this issue? If not maybe we can simply create a releasebuild with a tag and remove errors and warning messages? (or even better would be to redirect them to the console?)

[2015-03-07 20:34] #109 closed

[2015-03-08 13:47] #105 closed

[2015-03-08 13:49] SunyataZero commented on #98
Doesn't seem like there's much we can do about this, transferring this to 1.1 now

[2015-03-08 13:52] SunyataZero commented on #118
@Peijman Assigning this to you if you want to try to fix this by using the primary menu (please see previous email i sent) Kind Regards, Tord

[2015-03-08 13:53] SunyataZero commented on #118
The elegantthemes support did not help much.. i think we need to try another menu

[2015-03-08 19:54] SunyataZero opened #120 "[ext dep] Default Skype signup does not work on FF (Linux), Safari (MacOS), Chrome (MacOS)"
Link given from the Wordpress Empathy App registration page: https://login.skype.com/account/signup-form

Should we change this to something else? MS account?

It works on iOS Safari and probably on IE as well

[2015-03-08 20:54] SunyataZero commented on #115
@Peijman Hi, i found this plugin, maybe it can help:
https://wordpress.org/plugins/nav-menu-roles/

[2015-03-08 21:21] SunyataZero commented on #120
I have talked with the skype support and they say that we can schedule a remote session with them if we have a MacOS computer by contacting them here:
https://support.skype.com/support_selection

[2015-03-08 21:24] SunyataZero commented on #120
Possible ways to solve this issue:
* [ ] Let users sign up with an ms account as an alternative
* [ ] Clearing the cache (and asking users to do the same)

[2015-03-08 21:47] SunyataZero opened #121 "AJAX calls will run all WP init functions"
So we get a call to (for example) the function that initiates the db. In total it will be a lot and could maybe slow down our system significantly

[2015-03-08 21:47] SunyataZero commented on #121
@puneetkhanal Hi, do you know if this is expected behavior? Kind Regards, Tord

[2015-03-08 21:50] SunyataZero commented on #121
Two possible causes that i can think of:
1. Neat Skype Status and AJAX?
2. WP heartbeat problem

[2015-03-08 21:51] puneetkhanal commented on #121
Too many db connections are being created, is it the case?

[2015-03-08 22:01] SunyataZero commented on #121
No but just in general the init code is entered all the time not matter
what the function is, possibly the same with other levels of wordpress
functions, worried that this will slow down our system. I didn't expect
this to happen... yes Wordpress will go through this list
http://codex.wordpress.org/Plugin_API/Action_Reference
but will it go through for even a single AJAX call? Seems strange to me

[2015-03-08 22:05] SunyataZero commented on #121
@puneetkhanal Reference: http://codex.wordpress.org/Plugin_API/Action_Reference#Actions_Run_During_a_Typical_Request

[2015-03-08 22:11] puneetkhanal commented on #121
Yes, init() is called for each request, so we should not create the resource or time consuming operations in init(). We should make sure that all the resource or time consuming is handled in sever side. Is there any special operations being done it init()? I haven't worked with wordpress but I am drawing this conclusion based on my experience with servlets and jsp.

[2015-03-08 22:21] SunyataZero commented on #121
Right now only the db code is run there, i got this from the wordpress
documentation so not sure if i want to change it now. But it's very good to
know that we are not doing anything "wrong" at least, thank you for your
help!
Kind Regards,
Tord

On Sun, Mar 8, 2015 at 11:11 PM, puneetkhanal <notifications@github.com>
wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/

[2015-03-08 22:27] SunyataZero commented on #121
This is expected behavior, closing this issue, thank you @puneetkhanal for your help

[2015-03-08 22:27] #121 closed

[2015-03-08 22:56] #101 closed

[2015-03-08 23:36] SunyataZero opened #122 "Show SQL Errors"

[2015-03-09 14:06] SunyataZero commented on #106
Peijman has done exploratory testing, now i'll start some formal testing for this

[2015-03-09 18:27] SunyataZero opened #123 "Search window is launched when clicking on the NSS icon"
Found for Win 7 + IE 11

[2015-03-09 19:04] SunyataZero commented on #120
@Peijman I managed to get it working this time on FF+Lubuntu, it's possible that we both made some mistake and that this was not reported (like for example including non-alphanumeric characters in the password which is standard but not allowed here)

[2015-03-09 19:56] #102 closed

[2015-03-09 21:20] SunyataZero opened #124 "[ext dep] Showing on web is unavailable in Android"
Is this also a problem for other platforms like iPhone?

[2015-03-09 21:34] SunyataZero opened #125 "AJAX does not update on Android"
* OS: Android ICS
* Browser: Chrome for Android
* Phone: Sony Xperia
* Tester: Tord
* Frequecy: approx. 15/30

[2015-03-09 21:44] Peijman commented on #120
Also, it seems that only one empathizer had a problem signing up their
skype account (she was the least "tech" person). So I'm not worried about
it.

Peijman Kouretchian, CEO

Mica Stumpf COO

Empathy App

510.943.8310

http://www.empathyapp.org
empathyapp@gmail.com

On Mon, Mar 9, 2015 at 12:04 PM, Tord <notifications@github.com> wrote:

[2015-03-09 21:47] SunyataZero commented on #120
Ok, for the callers i think that the best thing may be to not give the link
to the online signup but instead direct the user to download skype instead.
This will probably solve this problem and make it easier for inexperienced
computer users. What do you think?

On Mon, Mar 9, 2015 at 10:44 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.sven

[2015-03-09 21:48] Peijman commented on #118
Yeah, I don't see it on my iphone either.

[2015-03-09 22:26] SunyataZero commented on #125
Googling: android browser ajax jquery

[2015-03-09 22:38] SunyataZero opened #126 "Filter out empathizer in db table"
.. so that it's easier to see which empathizer gets what amount of money at the end of the month
@Peijman: What is a good way to do this? Or is it already sufficient?

[2015-03-10 00:11] SunyataZero opened #127 "Change the "from" donation email display name"

[2015-03-10 00:18] #106 closed

[2015-03-10 00:42] SunyataZero opened #128 "Speed up empathyapp.org"
Right now we get a low score from YSlow

[2015-03-10 00:44] SunyataZero commented on #120
@Peijman I've talked with the skype support and probably the best is to give the users the download link and ask them not to select facebook or microsoft accounts, can we go with this, all things considered?

[2015-03-10 05:30] anantshri commented on #128
https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fempathyapp.org&tab=desktop

I suppose one of the major concern is website has non optimized images. try compressing the images that should solve a large chunk of problems.

[2015-03-10 11:06] SunyataZero commented on #128
@anantshri Good one, thank you!

@Peijman @anantshri I tried the new experimental page http://www.empathyapp.org/connect with both YSlow and PageSpeed Insights and interestingly the rating went up for YSlow and down for PageSpeed, strange

@Peijman I checked the images on the experimental page and almost everything looks good, there's just the image of the meditation lady which could be made small

[2015-03-10 12:52] SunyataZero commented on #120
If we only want to show the message on the registration screen (and not on the login screen):
* Alt1: http://illuminatikarate.com/blog/change-wordpress-default-register-message/
* Possible alt 2: http://codex.wordpress.org/Class_Reference/WP_Screen

[2015-03-10 12:53] SunyataZero commented on #120
@Peijman This is what it looks like now for both login and registration, is this ok with you?

![selection_051](https://cloud.githubusercontent.com/assets/10245688/6575200/cc7fde50-c72c-11e4-9895-95eac24f8764.png)

[2015-03-10 13:29] SunyataZero commented on #124
@Peijman It's important that our empathizers are aware of this. I've written a comment with a suggested workaround in the empathizer tech guide:
https://docs.google.com/document/d/1pHQBjZv7ZGsPAAV-hl0Ii9Gh_rjrpX2W2P8b3bLi2ss/edit#

[2015-03-10 13:30] SunyataZero opened #129 "[ext dep] Status limited on Android phones to available and invisible"

[2015-03-10 13:31] SunyataZero commented on #129
@Peijman I've added a comment on this in the empathizer tech guide:
https://docs.google.com/document/d/1pHQBjZv7ZGsPAAV-hl0Ii9Gh_rjrpX2W2P8b3bLi2ss/edit#

[2015-03-10 13:45] SunyataZero commented on #125
Have not been able to reproduce on the same device but with UC Browser

[2015-03-10 16:01] SunyataZero opened #130 "Write test case for skype client version compat"

[2015-03-10 16:32] Peijman commented on #120
Can you make the background of this page totally white color? Also above
the skype text please put:
in bigger letters and centered:

Registration:
Complete this 1 minute process to connect to an empathizer
(then add one line space here before the rest of the text)

Also make the first line you have (Your username is your valid skype name)
BOLD.

Thanks Tord!

Peijman Kouretchian, CEO

Mica Stumpf

[2015-03-10 16:35] Peijman commented on #126
If you can do this, that would be great. Not necessary for launch, but
would definitely make payment easier! Yes, searching by Empathizer would be
perfect, and if it loaded the most recent entries first. I noticed that the
most recent entries are up top now. That's perfect!

Peijman Kouretchian, CEO

Mica Stumpf COO

Empathy App

510.943.8310

http://www.empathyapp.org
empathyapp@gmail.com

On Mon

[2015-03-10 16:38] Peijman commented on #128
Thanks! I will make images smaller.

Peijman Kouretchian, CEO

Mica Stumpf COO

Empathy App

510.943.8310

http://www.empathyapp.org
empathyapp@gmail.com

On Tue, Mar 10, 2015 at 4:06 AM, Tord <notifications@github.com> wrote:

[2015-03-10 16:43] Peijman commented on #124
Thanks!

Peijman Kouretchian, CEO

Mica Stumpf COO

Empathy App

510.943.8310

http://www.empathyapp.org
empathyapp@gmail.com

On Tue, Mar 10, 2015 at 6:29 AM, Tord <notifications@github.com> wrote:

[2015-03-10 16:45] SunyataZero commented on #124
Will you update the document with info? Also i'm not sure what happens on
iPhone so maybe checking this first and then updating?
Kind Regards, Tord

On Tue, Mar 10, 2015 at 5:43 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-03-10 16:55] SunyataZero commented on #126
Ok, there's so much to do now, but i'll keep the high prio in the v1.1 list
so we will see it and hopefully fix it before the end of the month
Kind Regards, Tord

On Tue, Mar 10, 2015 at 5:35 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-03-10 17:36] SunyataZero commented on #120
I'll see if i can find time to do this
Kind Regards,
Tord

On Tue, Mar 10, 2015 at 5:32 PM, Peijman <notifications@github.com> wrote:

--
https://github.com/EmpathyApp/EmpathyApp/
<http://www.svenskafreds.se/fredskalender-for-goteborg>
http://ihavearrived.org/

[2015-03-10 18:24] SunyataZero commented on #125
Have been able to reproduce on the same as the original test conditions 5/10

[2015-03-10 18:24] SunyataZero commented on #125
Changed browser to Android browser and could not reproduce 0/10

[2015-03-10 18:48] SunyataZero opened #131 "[ext dep] Chrome does not open skype links on Ubuntu"
Same thing may be true on Windows:
http://community.skype.com/t5/Windows-archive/Chrome-doesn-t-open-Skype-links/td-p/1342791

[2015-03-10 18:49] SunyataZero commented on #131
@Peijman You had tested this on MacOS right? I mean with Chrome and calling?

[2015-03-10 20:19] Peijman commented on #131
yes this is fine on mac

Peijman Kouretchian, CEO

Mica Stumpf COO

Empathy App

510.943.8310

http://www.empathyapp.org
empathyapp@gmail.com

On Tue, Mar 10, 2015 at 11:49 AM, Tord <notifications@github.com> wrote:

[2015-03-10 20:26] SunyataZero commented on #131
MacOS version X right? which Chrome verison?

Can you check there browsers as well?
* Firefox on MacOS
* Safari on MacOS
* Safari on iOS

The important thing is the click on the skype button

I've created this table you can fill in or i can just do it if you send me
info:
https://github.com/EmpathyApp/EmpathyApp/wiki/Skype-button-compat-browser-and-OS-testing

On Tue, Mar 10, 2015 at 9:19 PM, Peij

[2015-03-10 21:15] SunyataZero opened #132 "Extent compat testing"

[2015-03-10 22:15] SunyataZero commented on #131
Has now been tested for several systems:
https://github.com/EmpathyApp/EmpathyApp/wiki/Skype-button-compat-browser-and-OS-testing

[2015-03-10 22:19] SunyataZero commented on #125
Lowering prio since this has not been seen on other browsers (we have also tested informally for desktop browsers and this has worked well)

[2015-03-10 22:56] SunyataZero commented on #129
I've now updated the empathizer user guide with this info and will add the info to our list of defects, so closing this issue now

[2015-03-10 22:56] #129 closed

[2015-03-10 22:59] SunyataZero commented on #124
Updated the empathizer tech document and added to the list of defects, so closing this issue now

[2015-03-10 22:59] #124 closed

[2015-03-10 23:02] SunyataZero commented on #120
Have now linked to downloading skype instead of just signing up (which was better in any case) so this issue is "obsolete"

[2015-03-10 23:02] #120 closed

[2015-03-11 00:34] SunyataZero commented on #123
Only seen on one system, not seen on Win 7 + IE 8

[2015-03-11 01:50] SunyataZero commented on #98
Seems to simply be related to the current server speed (so it happens when the server is overloaded). Will try to verify this and then move this into the defects list

[2015-03-11 02:01] SunyataZero opened #133 "IE 8: Logo at login does not scale down"
This problem has not been seen on other systems (including IE 11)

[2015-03-11 02:07] SunyataZero opened #134 "Settings interference from LeadBox"
Strange that it does not happen for other plugins like NSS and also that we have not seen it before even though we have had alot of plugins installed

![selection_055](https://cloud.githubusercontent.com/assets/10245688/6589124/8a223dfe-c79b-11e4-9a94-97abe0685574.png)

[2015-03-11 02:34] #96 closed

[2015-03-11 14:35] SunyataZero opened #135 "OS detection to give user-specific instructions"
* google: php os and browser detection
* This site is able to do this: http://thismachine.info/
* http://stackoverflow.com/questions/18070154/get-operating-system-info-with-php

[2015-03-11 16:31] SunyataZero opened #136 "Changing external wording from "donation" to "contribution""
We would like to change the text presented to the user. @Peijman wrote:

[2015-03-11 16:41] SunyataZero opened #137 "Pages are blank when we don't have access"
may be a combination of our code and the divi theme

[2015-03-11 16:48] SunyataZero commented on #137
Fixed by adding this to the custom css in divi's ePanel. From elegantthemes support:

[code]

[2015-03-11 16:52] SunyataZero commented on #118
Fixed by adding this to the custom css in divi's ePanel. From elegantthemes support:

[code]

[2015-03-11 16:52] #118 closed

[2015-03-12 18:44] SunyataZero opened #138 "[ext dep] win 7: dnd skype status does not give call popups"
(only shows that the call has been missed later on)

We probably need to just document this